header {
    height: 15%;
    background-color: lightblue;
}

footer {
    height: 15%;
    background-color: lightblue;
}

.form-container {
    margin: 5% auto;
}

.navButton {
	width: 50%;
	height: 100%;
	display: inline-block;
}