:root {
    box-sizing: border-box;
    font-size: 17;
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}


/*==========
main.contianer 
===========*/

.main-container {
    height: 100vh;
    display: grid;
    grid-template-rows: [first-row-line header-start] 22vh [header-end main-content-start] auto [main-content-end footer-start] 10vh [last-row-line footer-end];
    grid-gap: 1.5%;
    /*display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;*/
    background-image: url("public/images/aaron-burden-183659.jpg");
}


/*==========
header
===========*/

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #3498DB;
    /*height: 22vh;*/
    width: 100%;
    /*margin: 0 0 1.5% 0;*/
}


/*===Site Name===*/

header h1 {
    font-size: 300%;
    color: #fff;
    margin: 0 0 0 2%;
}


/*==========
.main-content
===========*/

.main-content {
    display: grid;
    grid-template-columns: auto 49vw auto;
}


/*====form=====*/

#submit-btn {
    margin-top: 2%;
}


/*========Dislay========*/

.display-area {
    height: 100%;
    display: none;
}


/*=======nav=======*/

nav {
    /*background-color: beige;*/
}


/*======aside======*/

aside {
    /*background: darkcyan;*/
}


/*==========
footer
===========*/

footer {
    background: #3498DB;
    /*height: 18vh;*/
    width: 100%;
    margin: 1.5% 0 0 0;
}