:root {
    box-sizing: border-box;
    font-size: 17;
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}


/*==========
main.contianer 
===========*/

.main-container {
    height: 100vh;
    display: grid;
    grid-template-rows: 17vh auto 7vh;
    grid-gap: 1.5%;
    background-color: #fff;
    padding: 0.5%;
}


/*displayed jobs*/

.content-wapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    border: 1px solid gray;
    padding: 2em;
}

.primary-title {
    font-size: 2em;
    border-bottom: 1px solid black;
    width: 100%;
    font-weight: 100;
    text-align: center;
    padding: 2%;
    margin: 0 0 3% 0;
}

.secondary-title {
    /*font-weight: bold;*/
    text-align: center;
    font-size: 1.2em;
}

.com-info {
    border: 1px dotted #4B6388;
    margin: 4% 0 0 0;
    border-radius: 0.75rem;
    padding: 5%;
}

.com-info>h3 {
    font-size: 115%;
    padding: 2%;
    text-align: center;
    border-bottom: 1px dotted gray;
    margin: 0 0 5% 0;
}

.p-tag {
    margin: 5% 0;
}

.con-info {
    font-weight: bold;
    margin: 1%;
    text-align: 100;
}


/*==========
header
===========*/

header {
    background: #4B6388;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

header>* {
    margin: 1%;
    color: #fff
}

header>h1 {
    color: #314B76;
    font-size: 5rem;
    font-weight: 100;
    margin: 10% 0 0 5%;
}

.main-content {
    display: flex;
    justify-content: space-between;
    padding: 0 5% 0 5%;
}


/*.content-wapper {
   
    border-radius: 4px;
    padding: 1em;
    background: #E7E8E7;
}*/

.job {
    color: gray;
    font-size: 200%;
    border-bottom: 1px solid gray;
    margin: 0 0 2% 0;
}


/*=======
footer
========*/

footer {
    background: #1D2230;
    /*height: 18vh;*/
    width: 100%;
    margin: 1.5% 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: lightgray;
    font-weight: 77;
}

form {
    background: lightgray;
    padding: 5%;
    border-radius: 1rem
}

form label {
    color: #4B6388
}